WEBIFY_AI_PROVIDER=auto
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-5-mini
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
